@import url('https://fonts.cdnfonts.com/css/architects-daughter');
@import url('https://fonts.cdnfonts.com/css/inria-sans');
@import url('https://fonts.cdnfonts.com/css/koh-santepheap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    width: 100vw;
    margin: 0;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.banner {
    /* margin-top: -12.5vh; */
    padding: 12.5vh 0;
    position: relative;
    background-image: url('Assets/chefTeam.jpg');
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: auto; */
    text-align: center;
    z-index: 1;
}

.banner::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    background-color: rgb(0, 0, 0, 0.5);
    left: 0;
    z-index: -1;
    transition: all 0.8s ease;
}

.banner:hover.banner::before {
    background-color: rgb(0, 0, 0, 0.7);
}

.banner .fillBanner h1 {
    color: #FFF;
    font-size: 44px;
    font-weight: 500;
    font-family: 'Inria Sans';
    border-bottom: 2px solid #FFF;
}

.banner .fillBanner p {
    color: #FFF;
    font-family: 'Inria Sans';
    font-size: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #311B0A;
    border: 6px solid #271515;
    color: #FFF;
    padding: 2vw 0;
    font-family: 'Inria Sans';
}

.title h1 {
    font-size: 32px;
    font-weight: 100;
}

.aboutCateringz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;
    text-align: center;
    background-image: url('Assets/wall.jpg');
    background-size: cover;
    background-position: center center;
    gap: 5vh;
    position: relative;
    z-index: 1;
}

.aboutCateringz:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    z-index: -1;
}

.aboutCateringz img {
    width: 20vw;
}

.aboutCateringz h1 {
    font-family: 'Inria Sans';
    color: #FFF;
    text-decoration: underline;
}

.aboutCateringz .fill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutCateringz p {
    font-family: 'Inria Sans';
    color: #FFF;
    font-size: 28px;
    width: 60%;
    text-align: center;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 90vh;
    background-image: url('Assets/kitchen.jpg');
    background-size: cover;
    background-position: center center;
    padding: 10vh;
    color: #FFF;
    text-align: jus;
}

.history::before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: '';
    background-color: rgb(0, 0, 0, 0.8);
}

.history .fill {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.history h1 {
    font-family: 'Inria Sans';
    font-size: 40px;
    text-decoration: underline;
}

.history p {
    width: 60%;
    font-family: 'Inria Sans';
    font-size: 24px;
}

.team {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
}

.team .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    height: 100%;
    width: calc(100%/3);
    background-color: #645b5b;
    padding: 5vw 5vw;
    text-align: center;
    border: 2px solid #FFF;
    /* gap: 20px; */
}

.team .card img {
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    object-fit: cover;
    object-position: top center;
}

.team .card h1 {
    font-size: 32px;
    font-family: 'Inria Sans';
    color: #FFF;
}

.team .card h2 {
    font-size: 24px;
    font-family: 'Inria Sans';
    color: #FFF;
}

@media screen and (max-width:768px) {
.aboutCateringz h1{
    font-size: large;
}

.aboutCateringz p{
    font-size: medium;
}

    .history h1 {
        font-size: large;
    }
    .history p{
        font-size: medium;
        text-align: center;
        width: 70%;
    }

    .team .card h1 {
        font-size: large;
    }

    .team .card h2 {
        font-size: medium;
    }

    .team .card {
        height: 40vh;
    }

    .team {
        height: 40vh;
    }
}